	<div class="main_heading"> <font color=red size=1>//</font> login</div>
		<div class="login_fields">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		<table>
			<td class="login_fields">username:</td><td><%= f.text_field :username %></td><tr>
			<td class="login_fields">password:</td><td><%= f.password_field :password %></td><tr>
			<td><%= f.check_box :remember_me %><font size=1>Remember me</font></td>
			<td align=right><%= f.submit "login" %></td<tr>
			<% end %>
		</table>
		<div class="login_menu">
			<%= link_to("sign up", new_registration_path(resource_name), :class => "account_menu") %> | 
			<%= link_to('forgot password?', new_password_path(resource_name), :class => "account_menu") %>
		</div
			
	</div>